@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Clients";
}
<h1>Client Information System</h1>

<div>
    <ui-view></ui-viewv>
</div>